<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="alllog" xsi:type="File" fileName="logs\all.log" />
    <target name="errlog" xsi:type="File" fileName="logs\error.log" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="alllog" />
    <logger name="*" minlevel="Warn" writeTo="errlog" />
  </rules>
</nlog>